# Flutter/Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.idea/
*.iml

# Android
*.apk
*.aab
*.keystore
local.properties

# iOS
Pods/
DerivedData/
*.xcworkspace

# Firebase / API Keys
android/app/google-services.json